.win {
    /* transform: scale(1.1); */
    /* background-color: rgb(109, 255, 109); */
    background-color: rgb(162, 255, 162);
    transition-duration: 0.5s;
}

.lose {
    /* background-color: rgb(255, 131, 131); */
    /* transform: scale(0.9); */
    transition-duration: 0.5s;
    width: 100%;
    background-color: rgb(253, 146, 131);
}

.tie {
    background-color: rgb(245, 255, 159);
    /* background-color: rgb(253, 255, 123); */
    transition-duration: 0.5s;
    width: 100%;
}

#pWin, #cWin {
    max-width: 150px;
    transition-duration: 1s;
}

.x-flip {
    transform: scaleX(-1);
}

.main-container {
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: rgb(189, 189, 189);
}


/*  */
/* Throw Animations */
/*  */

/* Player Throw Animation */
@keyframes pThrowWin {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(12px, 0) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1.1);
    }
}
@keyframes pThrowLose {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(12px, 0) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(0.9);
    }
}
@keyframes pThrowTie {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(12px, 0) scale(1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}

/* CPU Throw Animation */
@keyframes cThrow {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-12px, 0);
    }
}
  
  /* The element to apply the animation to */
.pStart.win {
    /* animation: infinite; */
    animation-name: pThrowWin;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.pStart.lose {
    /* animation: infinite; */
    animation-name: pThrowLose;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.pStart.tie {
    /* animation: infinite; */
    animation-name: pThrowTie;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.cStart {
    animation-name: cThrow;
    animation-duration: 0.3s;
}

.results {
    animation: fade 3s linear forwards;
}

@keyframes fade {
    0% { opacity: 0; }

    100% { opacity: 1; }
}