.win {
    transform: scale(1.1);
    background-color: rgb(162, 255, 162);
    transition-duration: 0.5s;
}

.lose {
    transform: scale(0.9);
    transition-duration: 0.5s;
    width: 100%;
    background-color: rgb(253, 146, 131);
}

.tie {
    transform: scale(1);
    background-color: rgb(245, 255, 159);
    transition-duration: 0.5s;
    width: 100%;
}

#pWin, #cWin {
    max-width: 150px;
    transition-duration: 1s;
}

.x-flip {
    transform: scaleX(-1);
}

.main-container {
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
}

body {
    background-color: rgb(189, 189, 189);
}


/*  */
/* Results Fade Animation */
/*  */

.results {
    animation: fade 3s linear forwards;
}

@keyframes fade {
    0% { opacity: 0; }

    100% { opacity: 1; }
}